.scheduleItem-box {
	width: 90%;
	max-width: 500px;
	background: #eee;
	position: relative;
	display: inline-block;
	text-align: left;
	margin: 1em;
}
.scheduleItem-month {
	position: absolute;
    width:50px;
    height: 100%;
    background: $purple;
    color: #fff;
    p {
    	position: absolute;
    	transform: rotate(270deg);
    	transform-origin:top left;
    	left: 15px;
		bottom: 25px;
		font-size: 1.2em;
    	font-weight: bold;
    }
}

.scheduleItem {
	display: flex;
    justify-content: space-between;
	margin-left: 50px;
    padding: 2em 1em 0 0;
}
.scheduleItem-type {
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: underline;	
}

.scheduleItem-date {
	display: inline-block;
	text-align: center;
	padding: 0 1em 0 0;
    height: 100px;
    border-right: 1px solid #000;
	p.scheduleItem-day {
		color: $purple;
		font-weight: bold;
		font-size: 3em;
	}
	p.scheduleItem-weekday {
		font-weight: bold;
	}
}

.scheduleItem-info {
	display: inline-block;
	width: 100%;
    max-width: 320px;
	vertical-align: top;
	padding: 0 0 0 1em;

	.scheduleItem-title {
		font-weight: bold;
		font-size: 1.5em;
		word-wrap: break-word;
	}
	.scheduleItem-subheading {
		color: $purple;
	}
}

.scheduleItem-apply {
	background-color: #f36b6b;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}